*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, rgba(5, 46, 92, 0.7) 60%, rgba(0, 212, 64, 0.7) 100%);
}


.input {
  text-align: center;
  margin: 100px;
  justify-content: center;
}

input[type="text"]{
  height: 50px;
  width: 600px;
  background: #ec6767;
  font-family: 'Josefin' sans-serif;
  font-weight: 500;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
}

input[type="submit"]{
  color: aqua;
  height: 50px;
  width: 100px;
  background: #08f844;
  font-family: 'Josefin' sans-serif;
  font-weight: 800;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.display{
  text-align: center;
}
