/* Properties of the display area on the browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Properties of the body when displayed on the browser */
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(5, 46, 92, 0.7) 60%,
    rgba(0, 212, 64, 0.7) 100%
  );
}

/* Container properties when the parameters are displayed after search */
.container {
  background-color: white;
  width: 800px;
  border-radius: 10px;
  margin: 30px auto;
  padding: 60px 50px;
}

/* The search area on the browser */
.input {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}

/* Properties of the text when typed of the browser/ text area */
input[type="text"] {
  height: 70px;
  width: 600px;
  background: whitesmoke;
  font-family: "Josefin" sans-serif;
  font-weight: 500;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  border-bottom: 4px solid red;
}

/* These are the properties of the Search/Submit button  */
input[type="submit"] {
  color: aqua;
  height: 50px;
  width: 100px;
  background: #16000e75;
  font-family: "Josefin" sans-serif;
  font-weight: 800;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.display {
  text-align: center;
}
